<div class="wrapper-md">
    <div class = "row m-b">
        <div class = "col-md-4">
            <select required name = "event_id" ng-model="event_id" class="form-control">
                <option  value="{{evnt.id}}" ng-repeat="evnt in Events">{{evnt.title}}</option>                            
            </select>
        </div>
        <div class = "col-md-2">
            <button type="button" ng-click = "exportSignInSheet()" class="btn btn-default">Export Sign In Sheet</button>
            
        </div>
        <div class = "col-md-2">
            <button type="button" ng-click = "excelExport()" class="btn btn-default">Export to Excel</button>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            Manage {{data.objNames}}
            <button class="btn m-b-xs btn-sm btn-default btn-addon pull-right m-t-n-xs btn-default" ng-click = "helper.goPeer('.add')"><i class="fa fa-plus"></i>Add new {{data.objName}}</button>
        </div>
        <table ui-jq="dataTable" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="tblCFFApplications" class="table table-striped m-b-none row-border hover"></table>
    </div>
</div>